<div class="modal fade show" tabindex="-1" [ngClass]="{'d-block': visible}" style="background: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="max-height: 500px; overflow-y: auto;">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button *ngIf="showSave" [disabled]="disableSave" type="button" class="btn btn-primary" (click)="onSave()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
      </div>
    </div>
  </div>
</div>
